.Trash/
.CFUserTextEncoding
.bash_history
.zsh_history
.zsh_sessions/
.cache/
.codex/
.config/
.cursor/
.cups/
.gitignore_global
.npm/
.npmrc
.npm-global/
.swiftpm/
.viminfo
.vscode/
.zprofile
.gitconfig
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Onedrive/
Pictures/
Public/
Sistemas/
encibra-figma-page/
meu-projeto/
package.json
node_modules
